
.main-title {
  font-family: "Pt sans narrow";
  font-size: 30px;
  line-height: 120%;
  font-weight: "bold";
  color: black;
  text-transform: uppercase;
}

.filters-title, .catalogitem-content-title {
    font-family: "Pt sans narrow";
    font-size: 24px;
    line-height: 120%;
    font-weight: "bold";
    color: black;
    text-transform: uppercase;
  }

body {
  font-family: "Pt sans narrow";
  font-size: 14px;
  line-height: 120%;
  font-weight: "bold";
  color: black;
}
